body {
  margin: 0;
  font-family: sans-serif;
  background-color: #333;
  overflow-x: hidden;
}

nav {
  color: #ddd;
}
nav h4 {
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  border-bottom: solid .06em white;
}
nav a {
  color: #ddd;
  text-decoration: none;
  width: 10em;
  display: block;
  padding: 1em;
  box-sizing: border-box;
  background: #333;
  cursor: pointer;
}
nav a:hover {
  background: #000;
  color: #fff;
}
nav a.actief{
  background: #000;
  color: #fff;
  border-right: solid 1em red;
}
main {
  background: #fff;
  padding: 1em;
  width: 100vw;
}

img {
  float: left;
  margin: 0 2em 1em 0;
  max-width: 100%;
}

#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
    /* 2356 */
}

#TLabel{
  font-size: 2em;
  font-weight: 900;
}
#TMenu{
  display: none;
}
